body{font-size: 11px;}
.oculto{display: none}
.modal-content{border-radius: 0px}
.btn{border-radius:0px; font-size: 11px}
label{font-weight: 300}
.form-control{border-radius: 0px;}
table > tbody > tr > td > i:hover{cursor: pointer;}
td>input{ background: transparent;border: none;}
td>i{margin-left: 10px}
.btn>i{margin-right: 10px}
.success{color: #3c763d;}
.error{color: #a94442;}
.icono-brand{margin-right: 5px}
.navbar-brand{padding: 10px; height: 40px;}
.navbar {margin-bottom: 10px; height: 40px; min-height: 41px;}
.navbar-toggle{padding: 8px 8px; margin-right: 10px; margin-top: 5px;}
.navbar-default .navbar-collapse{border: 0px; background: #FDFDFD; border-bottom: 1px solid #e7e7e7;}
table select{width: 220px; background-color: transparent; border: 0px solid #cccccc; margin-bottom: 0px; top:10px; height: 17px; padding: 0px 0px;}
@media (min-width: 768px){
  .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px;}
}
.footer-bottom{background: #282828; color: #FDFDFD; padding-top: 10px; padding-bottom: 10px}
