.oculto{display: none}
.modal-content{border-radius: 0px}
.btn{border-radius:0px;}
label{font-weight: 300}
.form-control{border-radius: 0px;}
table > tbody > tr > td > i:hover{cursor: pointer;}
td>input{ background: transparent;border: none;}
td>i{margin-left: 10px}
.btn>i{margin-right: 10px}
.success{color: #3c763d;}
.error{color: #a94442;}