<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h4>Tipos de Estaciones</h4>
      <label id="mensaje"></label>
      <table id="tablaTipoEstaciones" class="table table-striped"></table>
    </div>
  </div>
</div>
